@CHARSET "utf-8";
/*-------------------*/
/*  General Setting  */
/*-------------------*/

body{
	margin					: 0px;
}
p{
	margin					: 0px;
}
/*-------------------*/
/*   Header Setting  */
/*-------------------*/

header {
	background-color		: #5e8ff6;
	width					: 100%;
	height					: 45px;
	margin					: 0px;
}

header .brand-logo{
	padding					: 0 0 0 20px;
	color					: #fff;
	float					: left;
	text-decoration			: none;
	font-size				: 40px;
	font-weight				: 500;
	line-height				: 45px;
	text-align				: center;
}

header .brand-logo:visited{
	color					: #fff;
}

header .nav{
	margin					: 0px;
	padding					: 5px 5px;
	position				: relative;
	float					: right;
}

header .nav li{
	display					: inline;
	height					: 45px;
}

header .nav li a{
	font-size				: 20px;
  	padding					: 13px 10px;
  	text-transform			: uppercase;
	text-decoration			: none;
	color					: #fff;
	vertical-align			: middle;
}

header .nav li a:hover{
	background-color		: #0080c0;
}

header .nav li a:visited{
	color					: #fff;
}

/*-------------------*/
/* Introduce Setting */
/*-------------------*/
.introduce{
	width					: 100%;
	height					: 250px;
	background-image		: url('webDevelopment.jpg');
	background-repeat		: no-repeat;
	background-size			: 100% 100%;
	background-position		: 50% 0;
	opacity					: 0.6;
}
.introduce:before{
	/*content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('webDevelopment.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;*/
    
}
.introduce h1{
	font-size				: 45px;
	margin					: 0 0 0 0;
	padding					: 50px 0 0 0;
	text-transform			: uppercase;
	text-align				: center;
}
/*-------------------*/
/*  About-me Setting */
/*-------------------*/
#about{
	
}
